/* App.css */

/* Default light mode styles */
body {
  background-color: white;
  color: black;
}

.navbar-dark .navbar-brand {
  color: white;
}

/* Dark mode styles */
.dark {
  background-color: #121212;
  color: white;
}

.dark .navbar-dark {
  background-color: #333;
}

